:root{
    font-size: calc(2.5vh + 5px);
    font-family:Arial, Helvetica, sans-serif;
    --baseDark: rgb(0, 0, 0);
    --baseLight: rgb(255, 255, 255);
    --accentDark: rgb(0, 0, 146);
    --accentLight: rgb(71, 172, 255);
    --back:#e8eae9;
    --notation:gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--back);
}

body{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}
body::-webkit-scrollbar{
    display: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--baseDark);
    color: var(--baseLight);
    font-weight: bold;
    height: 2rem;
}

header> span{
    color: var(--accentLight);
    background-color: var(--baseDark);
}

h1{
    width: max-content;
    margin: auto;
    font-size: 1rem;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: solid 3px var(--accentDark);
}


table{
    color: var(--baseDark);
    width: 90%;
    margin: auto;
    text-align: end;
    background-color: var(--baseLight);
}

table *{
    background-color: var(--baseLight);
    font-size: 0.8rem;
}

thead *{
    font-size: smaller;
    border-bottom: solid 2px var(--accentDark);
}

tbody tr td:first-child{
    font-size: smaller;
}

tbody tr td {
    border-bottom: dashed 1px var(--accentLight);
}

td {
    padding: 0.5em;
}

td.urlAdded{
    cursor: pointer;
    position: relative;
}

td.urlAdded::before{
    content: "★";
    font-size: 0.5em;
    position: absolute;
    top:0;
    right:0;
}

form{
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    position: fixed;
    bottom:0;
    background-color: var(--baseLight);
    width: 100vw;
    box-shadow: 0 -1px 3px;
}

form > div{
    width: 25%;
}

form * {
    padding-left: 5px;
    background-color: transparent;
} 

#allTermDiv{
    width: 50%;
    height: 3em;
    display: flex;
    font-size: 0.5em;
    justify-content: center;
}

.buttonDiv{
    width: 33.3%;
}

form input[type=button],#guide >a >div{
    border: none;
    width: 8em;
    height: 2em;
    margin: 3px;
    border-right: solid 3px var(--accentLight);
    border-left: solid 3px var(--accentLight);
    color: var(--accentDark);
}

#guide{
    display: flex;
    width: 33.3%;
    font-size: 0.6em;
    justify-content: center;
    align-items: center;
}

#guide > a{
    text-decoration: none;
    color: var(--accentDark);
}

#guide > a > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#info{
    width: calc(50% - 1px);
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mask{
    z-index: 10;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0,0%,0%,50%);
    cursor: pointer;
}

#popURl{
    z-index: 10;
    display: none;
    position: fixed;
    width: 75vw;
    height: 50vh;
    top: 25vh;
    left: 12.5vw;
    word-break: break-all;
}

#popURL, #popURL *{
    background-color: var(--baseLight);
}

.URLtitle{
    font-size: 0.6em;
}

.URLele{
    margin-top: 0.5em;
    font-size: 0.8em;
}

@media (orientation:landscape){
    table{
        max-width: 500px;
    }
}